[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "4.0.0"
psycopg2-binary = "*"
Flask-SQLAlchemy = "*"
pytest = "*"
requests = "*"

[dev-packages]
black = "*"
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.11"
